<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SymmetricalEncryptionKey" value="Modules!@2017Key"/>
    <add key="AsymmetricEncryptionPublicKey" value="BgIAAACkAABSU0ExAAQAAAEAAQAnKEtami2zzISUzbFW0il1htem19ThfZyQqayJtlV4oNHautm3u9rHbfPhqMpTQ/oBYBHHfP3tj9qBmLxePaLlkE8nhYDWpHDKq9KM/zSZjHlsFEhuW/AMCSwBgFzZ/zTe9ulfWcLid/hNClFO3QHs+AJKoqBgMCg6QgMzNqZ+oA=="/>
    <add key="AsymmetricEncryptionPrivateKey" value="BwIAAACkAABSU0EyAAQAAAEAAQAnKEtami2zzISUzbFW0il1htem19ThfZyQqayJtlV4oNHautm3u9rHbfPhqMpTQ/oBYBHHfP3tj9qBmLxePaLlkE8nhYDWpHDKq9KM/zSZjHlsFEhuW/AMCSwBgFzZ/zTe9ulfWcLid/hNClFO3QHs+AJKoqBgMCg6QgMzNqZ+oMXskcBMGj2lKyFM4Otdfi4gxdBGvNV9rimPEzq2NsWBo7c0uisVtDtANO0ZcUij/XBqJcgn7JudYQ9NbxkVROL7J+59mdVw/pzD23J2F0Ir2DHL0ugj+aYCB6My3JC8Z3LvMkWJZIcmcTQbOJol03CWNEehqClC3oUv5nY47ZW1DQiqWETAhzLQNy2ag2+jXlifgmY9ikOTfI0wfVDduYjaFBtOur+xFWI4v75GANP6FwCNNXcEhjVaZrv9QYfTUP1vSvEVx70pe61L4KFVXCSfYDDnA3eaWbriXUFrhQbw2XzDq1OuiTdE+EjpJu1DFbyIpUmNsoHvQnrY5JmLhzwijruy0ooLK9gikxwVZeyRsDRbSD5062vHqv3iSwqriOQzwn7xuCnq3StuHKlgm8yi5fyfsOXYmI1CnWFG+HF0kXZ1Csd+s4ouzPq/FPQ/nYuVFYuoPzOxLPl2mGUQi7/m5tyQnj/s4fH/kdivKEIclhJrbB04TDjuEGzduyA7WDWiDAx7uSL4AwafVbOz8Vc4qw0FEBrnnYjKwHUEJrTzsiSc4rp3XXSCWrbUEiUyOY/QF//tK6ZBWmhkuIVAYyI="/>
  </appSettings>
</configuration>